@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Oswald:wght@400;700&family=Silkscreen&display=swap');

html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: "Lora", sans-serif;
}